.form-check {
    padding-left: 3rem;
    margin: 1.5rem;
    line-height: 1;

    &._fb-correct {
        color: #4CAF50;
        &::after {
            content: '✔';
            color: #4CAF50;
            font-size: 1.5rem;
            position: absolute;
            right: 2em;
        }
    }
    &._fb-wrong {
        color: #F44336;
        &::after {
            content: '✖';
            color: #F44336;
            font-size: 1.5rem;
            position: absolute;
            right: 2em;
        }
    }
}