@import "~bootstrap/scss/bootstrap";
@import "./content-scrollbar.scss";
@import "./monitor-explorer.scss";
@import "./monitor-home.scss";
@import "./monitor-bottom.scss";

#monitor {
    $background-color: #999;
    $btn-color: #eee;
    $btn-color-hover: #f4ffc2;
    $btn-color-selected: rgb(112, 198, 255);

    display: none;
    box-sizing: border-box;
    position: relative;
    height: calc(100vh - 100px);
    min-height: 450px;
    max-height: 100vw;
    overflow: hidden;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: $background-color;

    &.show {
        display: flex;
        flex-direction: column;
    }

    #top-menu {
        width: 100%;
        height: 50px;

        #back-btn {
            display: none;
            float: right;
        }
    }

    button.btn {
        background-color: $btn-color;
        outline: 1px solid #555;

        &:hover {
            background-color: $btn-color-hover;
        }

        &.selected {
            background-color: $btn-color-selected;
            font-weight: 600;
        }
    }

    #content {
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;

        .content-page {
            display: none;

            &.selected {
                display: block;
            }
        }

        #graphscontainer {

            width: calc(100% + #{$scollbar-width});
            display: flex;
            flex-direction: column;
            background-color: #fff;

            .rowheader {
                position: absolute;
                top: 45px;
                left: 82px;
                right: 80px;
                height: 1em;
                display: table;
                background-color: #fff;
                z-index: 999;
    
                .rowheaderitem {
                    display: table-cell;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    border: 1px solid #555;
                    padding: 5px;
                }
            }

            .graphrow {
                font-size: 12px;
                position: relative;
                height: 100px;
                width: 100%;
                display: flex;
                flex-direction: row;
                border: 1px solid #555;

                .titleCol {
                    width: 20px;
                    z-index: 1;

                    .ytitle {
                        font-size: 10px;
                        writing-mode: vertical-rl;
                        text-orientation: mixed;
                        text-align: center;
                        height: 100%;
                    }
                }

                .graph {
                    width: calc(100% - 160px);
                    overflow: hidden;
                    position: relative;
                    z-index: 0;

                    &.headingRow {
                        overflow-x: auto;
                    }

                    canvas {
                        position: absolute;
                        left: 0;
                    }
                }

                .dataSummary {
                    height: 100%;
                    width: 150px;
                    flex-shrink: 0;
                    flex-grow: 0;
                    z-index: 1;

                    &.yaxis {
                        width: 60px;
                        background-color: rgb(247, 253, 255);
                    }

                    table {
                        width: 100%;
                        height: 100%;
                        text-align: center;

                        td:nth-child(1) {
                            width: 50%;
                        }
                    }
                }
            }

            .graphrow.headingRow {
                position: absolute;
                flex-grow: 0;
                width: calc(100% - #{$scollbar-width});
                background-color: #eee;
                z-index: 10;
            }

            >div:nth-child(3) {
                margin-top: 100px;
            }
        }

        .tableFixHead {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 100%;

            >table {
                width: 100%;
                min-width: 800px;
                text-align: center;
                border-collapse: collapse;
                background-color: #fff;
                font-size: 0.9em;
                display: none;
                table-layout: fixed;

                &.selected {
                    display: table;
                }

                th {
                    position: sticky;
                    font-weight: 500;
                    top: 0px;
                    background-color: rgb(180, 225, 255);
                    text-transform: capitalize;
                }

                th:first-child,
                td:first-child {
                    border-right: 1px solid #aaa;
                }

                tr {
                    height: 26px;
                }

                /* striped rows */
                tbody tr:nth-of-type(odd) {
                    background-color: #f1f1f1;
                }

                /* hover row */
                &.selectable tbody tr {
                    &:hover {
                        background-color: #ffffe8;
                        cursor: pointer;
                    }

                    &.hilight {
                        background-color: #fffb00;
                    }

                }
            }

        }
    }

}