#monitor #content .explorer-page {
    $table-bg-color: #eee;
    $btn-color-hover: #f4ffc2;
    $btn-color-selected: rgb(180, 225, 255);
    height: calc(100% - 35px);

    >div {
        height: 100%;
    }

    .explorertabmenu {
        position: relative;
        width: 100%;
        z-index: 10;

        ul.tab-container {

            li.tab {
                border: 1px solid #555;
                border-bottom: none;
                border-radius: 5px 5px 0 0;
                cursor: pointer;
                text-transform: capitalize;
                padding: 0.25em 1em;
                background-color: #f1f1f1;

                &:hover {
                    background-color: $btn-color-hover;
                }

                &.selected {
                    background-color: $btn-color-selected;
                }
            }
        }

        .top-right {
            position: absolute;
            top: 0;
            right: 0;

            button {
                outline: 0;
                padding-bottom: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

    }

    .rowheader {
        width: 100%;
        display: flex;
        flex-direction: row;
        min-height: 50px;
        height: fit-content;
        background-color: #fff;
        font-size: small;

        .col-group {
            display: flex;
            flex-grow: 1;
            gap: 1px;
            flex-direction: column;
            border: 1px solid #555;
            border-radius: 0.3em;
            &[type=button] {
                width: 8em; 
                flex-grow: unset;
            }
            .rowheaderitem {
                display: flex;
                flex-grow: 1;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                &._pn {
                    @extend .text-bg-success;
                    line-height: 2;
                    font-size: large;
                }

                &._action,
                &._error,
                &._none {
                    height: 33%;
                }

                &._validated.selected {
                    @extend .text-bg-info;
                }

                &._pn.selected,
                &._action.selected,
                &._error.selected {
                    @extend .text-bg-danger;
                }

                &._none.selected {
                    @extend .text-bg-dark;
                }

                &.left-icon {
                    justify-items: left;
                    justify-content: start;
                    padding-left: 1em;

                    &::before {
                        display: block;
                        width: 40px;
                        float: left;
                        font-size: 2em;
                    }

                    &._id::before {
                        content: "\1F194";
                    }

                    &._altid::before {
                        content: "\1F4C7";
                    }

                    &._datetime::before {
                        content: "\1F4C5";
                    }

                    &._name::before {
                        content: "\1F464";
                    }
                }
            }

        }
    }

    .tablecontainer {
        z-index: 9;
        background-color: $table-bg-color;
        overflow-x: auto;

        table {
            table-layout: fixed;
            min-width: 800px;

            th {
                background-color: $btn-color-selected;
                white-space: nowrap;
            }
            th:nth-child(1) {
                width: 100px;
            }

            td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

            }

            th:last-child,
            td:last-child {
                width: auto;
            }
        }
    }

    .subpagecontainer {
        .col-group.button {
        }
        .tableFixHead {
            overflow-x: auto;
        }
        
        table {
            font-size: small;
            min-width: 800px;
            text-align: left;

            th {
                font-weight: bold;
            }

            td,
            th {
                width: 10em;
                max-width: min-content;
            }

            th:nth-child(1),
            td:nth-child(1) {
                
                padding-left: 0.5em;
            }

            th:not(:last-child),
            td:not(:last-child) {
                width: 10em;
                min-width: fit-content;
            }

            th:last-child,
            td:last-child {
                width: auto;
            }

            th._flags,
            td._flags,
            td[rowspan] {
                vertical-align: top;
                padding: 1em;
                width: auto;
            }
            td._fags,
            td[rowspan]{
                background-color: #fff;
            }

            td.img-holder {
                text-align: center;
                vertical-align: middle;
                padding: 0.5em;

                img {
                    max-width: calc(100vh - 200px);
                    max-height: 100%;
                }
            }

            th.col-narrow,
            td.col-narrow {
                width: 3.5em;
                text-align: center;
            }
        }
    }
}