@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: lightblue;

    .bg-container {
        position: absolute;
        top:0; bottom: 0; left: 0; right: 0;
        background-image: url('./images/main-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        filter: blur(10px); -webkit-filter: blur(10px);
        z-index: -1;
    }
}

$btn-color-hover: #f4ffc2;
$btn-color-selected: rgb(180, 225, 255);
$btn-color-bg: #eee;
$btn-color: #333;
$btn-color-hover: #f4ffc2;
button.btn, div.btn {
    color: $btn-color;
    background-color: $btn-color-bg;
    outline: 1px solid #555;

    &:hover {
        background-color: $btn-color-hover;
    }

    &.selected {
        background-color: $btn-color-selected;
        font-weight: 600;
    }
}
div{
    .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
        color: $btn-color;
        background-color: $btn-color-selected;
        border-color: transparent;
    }
}


@import "./main.scss";
@import "./monitor.scss";
@import "./tooltip.scss";
@import "./modal-runstatus.scss";